*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  font-size: 62.5%;
  --bg-color: #0D1B2A;
  --color: #f5f5f5;
  --btn-hover: #1B263B;
  --link-hover: #778DA9;
  --border: #E0E1DD
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

html{
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}

body{
  min-width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--color);
}

header{
  width: 100%;
  display: grid;
  height: 9rem;
  padding: 0 3.2rem;
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow:
  0px 1.8px 2.7px rgba(0, 0, 0, 0.022),
  0px 4.4px 6.9px rgba(0, 0, 0, 0.031),
  0px 9px 14.2px rgba(0, 0, 0, 0.039),
  0px 18.6px 29.2px rgba(0, 0, 0, 0.048),
  0px 51px 80px rgba(0, 0, 0, 0.07)
  ;
  z-index: 2;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


h1{
  color: var(--color);
}

ul{
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

li:last-child a{
  padding: 1rem;
  background-color: #f5f5f5;
  color: var(--bg-color);
  border-radius: .5rem;
  cursor: pointer;
}

li:last-child a:hover{
  background-color: #dadada;
  color: var(--bg-color);
}

li a{
  font-weight: 500;
  text-decoration: none;
  color: var(--color);
}


li a:hover{
  color: var(--link-hover);
}

h2{
  margin-bottom: 2.4rem;
}

h2::before{
  content: "";
  position: absolute;
  left: 3.4rem;
  width: .42rem;
  height: 2.6rem;
  background-color: var(--color);
  border-radius: .5rem;
  z-index: -1;
}


section[id]{
  padding: 4.8rem;
  padding-top: 18rem;
}

p{
  text-align: justify ;
}

input, textarea{
  padding: 1rem;
  border: .2rem solid var(--border);
  border-radius: .5rem;
  margin-bottom: 1.4rem;
}


button{
  background-color: var(--bg-color);
  color: var(--color);
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  padding: 1.4rem;
  font-weight: 500;
  letter-spacing: .1rem;
}
button:hover{
  background-color: var(--btn-hover);
}

label{
  font-weight: 500;
}

footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--color);
  padding: 2.8rem;
}

.active{
  color: var(--hover)
}

.services{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.8rem;
}

.service{
  height: 18rem;
  font-weight: 700;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.8rem;
  padding: 2.4rem;
  background-color: var(--color);
  color: var(--bg-color);
  border: .2rem solid var(--border);
  border-radius: 1rem;
}
.service i{
  font-size: 4.8rem;
}

#logo{
  align-items: center;
  gap: .8rem;
  text-decoration: none;
  color: var(--color);
}


#fale-conosco{
  display: flex;
  justify-content: space-evenly;
  gap: 4.2rem;
  background-color: var(--color);
  color: #040f16;
  padding-bottom: 18rem;
}


.form, .infos{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.4rem;
  min-width: 28rem;
  width: 42rem;
}

.infos p{
  margin-bottom: 2.4rem;
}

/* .btn-top{
  color: var(--link-hover);
  font-size: 4.8rem;
  text-decoration: none;
  width: fit-content;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
} */



/* @media only screen and (min-width: 481px) and (max-width: 768rem){

} */

.hamburguer{
  display: none;
  font-size: 3.2rem;
  cursor: pointer;
}

@media only screen and (max-width: 935px){
  .services{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media only screen and (max-width: 692px){
  .menu{
    display: none;
  }
  .hamburguer{
    display: block;
  }
  
}

@media only screen and (max-width: 640px){
  .services{
    grid-template-columns: 1fr; 
  }
}





